.container_poke{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  margin-top: 2rem;
}
.activado5{
  padding: .5rem;
  margin: .5rem;
  border-radius: 16px;
  background-color: rgb(37, 206, 228);
  color: rgb(126, 108, 82);
  text-decoration: none;
  font-weight: 700;
}