.container_poke{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100vw;
  margin-top: 2rem;
}
.activado1{
  padding: .5rem;
  margin: .5rem;
  border-radius: 16px;
  background-color: rgb(13, 58, 1);
  color: rgb(19, 226, 47);
  text-decoration: none;
  font-weight: 700;
}